/* Home.css */
.searchSortBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px; /* Add top margin to create space between header and search box */
}

.bookText {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding-left: 111px;
}

.selectBar {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 115px;
}

.selectBar:hover {
  background-color: #e0e0e0;
}

.containerbody {
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(240, 11, 11, 0.505);
  transform: translateY(-5px);
}

.cardcontent {
  padding: 10px;
  text-align: center;
}

.cardtitle {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.authorname {
  font-size: 14px;
  color: #777;
}

.content {
  color: red;
  text-align: center;
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Toastify__toast {
  border-radius: 5px;
  font-size: 14px;
  background-color: #333;
  color: #fff;
  animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Add effects to buttons */
button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px rgba(1, 188, 250, 0.164);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0 4px 8px rgba(240, 7, 7, 0.474);
  transform: translateY(-2px);
}

/* Add effect on focus */
#myInput:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
}
